@import 'global';

.form{
  display: flex;

  input{
    flex: 1;
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid $lightsky
  }
}

.create-button{
  padding: 0.5rem 0.5rem 1rem 1rem;
  margin-left: 1rem;
  background: $sky;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  text-align: center;
  cursor: pointer;

  &:hover{
    background: $darksky;
  }
}
